<!doctype html>
<html lang="en">
<head>
    <%include comp/head_com.ejs%>
    <link rel="stylesheet" href="/stylesheets/siteab.css">
</head>
<body>
    <%include comp/main.ejs%>
    <div class="page">
        <div id="box_t">
            <!--<h3>关于燕塘</h3>-->
            <!--<span>A B O U T　Y A N T A N G</span><br>-->
            <!--<p>广东燕塘乳业股份有限公司是农业部广东农垦的直属企业-->
                <!--<br>-->
                <!--2014年12月，燕塘乳业在深圳A股成功挂牌上市（股票代码：002732），正式登陆资本市场-->
            <!--</p>-->
        </div>
        <div id="boz">
            <!--<ul>-->
                <!--<li class="pz">-->
                    <!--<h3><a href="">企业介绍</a></h3>-->
                    <!--<div class="pzimg">-->
                        <!--<img alt="" src="/images/5057f5b5-2ddf-4488-9414-ddc6d8aa18b3.jpg">-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="pz">-->
                    <!--<h3><a href="">核心价值</a></h3>-->
                    <!--<div class="pzimg">-->
                        <!--<img alt="" src="/images/d69d4e80-7a38-456b-9e68-2b21cccede44.jpg">-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="pz">-->
                    <!--<h3><a href="">企业荣誉</a></h3>-->
                    <!--<div class="pzimg">-->
                        <!--<img alt="" src="/images/c9312bc6-0b31-4ecc-9dbf-91be4821cf29.jpg">-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
    <%include comp/footqr.ejs%>
    <script src="/javascripts/about.min.js"></script>
</body>
</html>