<!doctype html>
<html lang="en">
<head>
    <%include comp/head_com.ejs%>
    <link rel="stylesheet" href="/stylesheets/sitec.css">
</head>
<body>
<%include comp/main.ejs%>
<div class="page">
    <div id="box_t">
        <!--<h3>联系我们</h3>-->
        <!--<span>C O N T A C T　U S</span><br>-->
        <!--<p>-->
            <!--质量在我手中，顾客在我心中-->
        <!--</p>-->
    </div>
    <div id="boz">
        <!--<ul>-->
            <!--<li class="pz">-->
                <!--<h3><a href="">人才招聘</a></h3>-->
                <!--<div class="pzimg">-->
                    <!--<img alt="" src="/images/1469f695-3501-4702-a3b4-35f286d3a4ac.jpg">-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="pz">-->
                <!--<h3><a href="">消费者专区</a></h3>-->
                <!--<div class="pzimg">-->
                    <!--<img alt="" src="/images/d58ed8bb-4fda-41a5-9c7d-6b609740c7b0.jpg">-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="pz">-->
                <!--<h3><a href="">投资者专区</a></h3>-->
                <!--<div class="pzimg">-->
                    <!--<img alt="" src="/images/fc0a5ba0-19b3-4e70-a66b-f1752d293f10.jpg">-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="pz">-->
                <!--<h3><a href="">在线留言</a></h3>-->
                <!--<div class="pzimg">-->
                    <!--<img alt="" src="/images/316d5543-0d40-4ea3-9911-92a240291345.jpg">-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>
<%include comp/footqr.ejs%>
<script src="/javascripts/contact.min.js"></script>
</body>
</html>