<!doctype html>
<html lang="en">
<head>
    <%include comp/head_com.ejs%>
    <link rel="stylesheet" href="/stylesheets/sited.css">
</head>
<body>
<%include comp/main.ejs%>
<div class="page">
    <div id="box_t">
        <!--<h3>可持续发展</h3>-->
        <!--<span>S U S T A I N A B L E　D E V E L O P M E N T</span><br>-->
        <!--<p>-->
            <!--市场导向、科技领先、质量第一、顾客至上-->
        <!--</p>-->
    </div>
    <div id="boz">
        <!--<ul>-->
            <!--<li class="pz">-->
                <!--<h3><a href="">投资报告</a></h3>-->
                <!--<div class="pzimg">-->
                    <!--<img alt="" src="/images/548ef55d-89af-4a06-8d25-b84772075157.jpg">-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="pz">-->
                <!--<h3><a href="">公平在身边</a></h3>-->
                <!--<div class="pzimg">-->
                    <!--<img alt="" src="/images/15017a40-4614-4b7f-af79-18f9391fe04f.jpg">-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="pz">-->
                <!--<h3><a href="">发展报告</a></h3>-->
                <!--<div class="pzimg">-->
                    <!--<img alt="" src="/images/e91c7ced-8f91-4ff7-9236-36841f055206.jpg">-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="pz">-->
                <!--<h3><a href="">招标公告</a></h3>-->
                <!--<div class="pzimg">-->
                    <!--<img alt="" src="/images/9a22e2c8-54fb-4f2b-b71c-5965d72562b5.jpg">-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>
<%include comp/footqr.ejs%>
<script src="/javascripts/dev.min.js"></script>
</body>
</html>