<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1><%= message %>></h1>
    <h2><%= error.statust%></h2>
    <p><%= error.stack %>></p>
</body>
</html>