<!doctype html>
<html lang="en">
<head>
    <%include comp/head_com.ejs%>
    <link rel="stylesheet" href="/stylesheets/site.css">
</head>
<body>
    <%include comp/main.ejs%>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" id="p1">
                <div class="ani" id="g1" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"><img src="/images/05de9577-263a-4bf0-bf56-c3910d7d172e.png" alt=""></div>
                <div class="ani" id="g2" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.35s"><img src="/images/p2.png" alt=""></div>
                <div class="ani" id="g3" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.4s"><img src="/images/p3.png" alt=""></div>
            </div>
            <div class="swiper-slide" id="p2">
                <div class="ani" id="g4" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"><img src="/images/4c6eab8b-6aed-4403-8576-227717494afc.png" alt=""></div>
                <div class="ani" id="g5" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.35s"><img src="/images/p1.png" alt=""></div>
                <div class="ani" id="g6" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.4s"><img src="/images/p3.png" alt=""></div>
            </div>
            <div class="swiper-slide" id="p3">
                <div class="ani" id="g7" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"><img src="/images/34d43d1a-0865-47f3-91ef-6c903d56f4e3.png" alt=""></div>
                <div class="ani" id="g8" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.35s"><img src="/images/p6.png" alt=""></div>
                <div class="ani" id="g9" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.4s"><img src="/images/p4.png" alt=""></div>
            </div>
            <div class="swiper-slide" id="p4">
                <div class="ani" id="g10" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"><img src="/images/b701640d-4a42-4435-929d-8b6fae6fdaaf.png" alt=""></div>
                <div class="ani" id="g11" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.35s"><img src="/images/p5.png" alt=""></div>
                <div class="ani" id="g12" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.4s"><img src="/images/p6.png" alt=""></div>
            </div>
            <div class="swiper-slide" id="p5">
                <div class="ani" id="g13" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"><img src="/images/p10.png" alt=""></div>
                <div class="ani" id="g14" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.35s"><img src="/images/p4.png" alt=""></div>
                <div class="ani" id="g15" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.4s"><img src="/images/p3.png" alt=""></div>
                <%include comp/footqr.ejs%>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <script src="/javascripts/home.min.js"></script>
</body>
</html>