<!doctype html>
<html lang="en">
<head>
    <%include comp/head_com.ejs%>
    <link rel="stylesheet" href="/stylesheets/siten.css">
</head>
<body>
<%include comp/main.ejs%>
<div class="page">
    <div id="box_t">
        <!--<h3>新闻与活动</h3>-->
        <!--<span>N E W S　A N D　E V E N T S</span><br>-->
        <!--<p>-->
            <!--好品质，彰显造福社会的责任心-->
        <!--</p>-->
    </div>
    <div id="boz">
        <!--<ul>-->
            <!--<li class="pz">-->
                <!--<h3><a href="">燕塘新闻</a></h3>-->
                <!--<div class="pzimg">-->
                    <!--<img alt="" src="/images/bd6a3345-e73b-46d6-8ef6-c53d43f37d62.jpg">-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="pz">-->
                <!--<h3><a href="">营养知识</a></h3>-->
                <!--<div class="pzimg">-->
                    <!--<img alt="" src="/images/bb1965ed-abf0-4465-b342-925a703efc46.jpg">-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="pz">-->
                <!--<h3><a href="">社会公益</a></h3>-->
                <!--<div class="pzimg">-->
                    <!--<img alt="" src="/images/cca697ee-1f0d-4767-b45c-d7cf3e369120.jpg">-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>
<%include comp/footqr.ejs%>
<script src="/javascripts/news.min.js"></script>
</body>
</html>