<!doctype html>
<html lang="en">
<head>
    <%include comp/head_com.ejs%>
    <link rel="stylesheet" href="/stylesheets/sitep.css">
</head>
<body>
<%include comp/main.ejs%>
<div class="page">
    <div id="box3">
        <!--<h3>品牌与产品</h3><span>B R A N D S　A N D　P R O D U C T S</span><br>-->
        <!--<p>每一口的甜美品味，每一次的幸福感受，是因为我们对你的在乎</p>-->
    </div>
    <div id="box4">
        <!--<ul>-->
            <!--<li class="cont"><a href=""><img src="/images/b78a903b-63bc-4354-9860-2d95f0e0fea9.jpg"></a></li>-->
            <!--<li class="cont"><a href=""><img src="/images/742d1ee7-3d4f-4192-a60c-d1e6ea21684c.png" alt=""></a></li>-->
            <!--<li class="cont"><a href=""><img src="/images/92ed6890-a4e4-4454-a222-3b6e87442dae.png" alt=""></a></li>-->
            <!--<li class="cont"><a href=""><img src="/images/ee2af9a3-f8f8-4d45-aac4-5ac95de63262.png" alt=""></a></li>-->
            <!--<li class="cont"><a href=""><img src="/images/9187bc4e-d5a5-493c-8114-f44cad161df7.png" alt=""></a></li>-->
            <!--<li class="clearItem"></li>-->
            <!--<li class="cont"><a href=""><img src="/images/5bf8244e-e500-49bf-adcf-0f582b9cbb9c.png" alt=""></a></li>-->
            <!--<li class="cont"><a href=""><img src="/images/9580a4af-0198-4e81-83b5-dc424212797e.png" alt=""></a></li>-->
            <!--<li class="cont"><a href=""><img src="/images/510d7555-8839-449d-9b8c-d8d5f62e1206.png" alt=""></a></li>-->
            <!--<li class="cont"><a href=""><img src="/images/d1f00edc-e02a-41a4-9155-aec080654115.png" alt=""></a></li>-->
            <!--<li class="cont"><a href=""><img src="/images/1ba0933b-c97a-411c-bad4-ebe8de88d17a.png" alt=""></a></li>-->
            <!--<li class="clearItem"></li>-->
            <!--<li class="cont"><a href=""><img src="/images/622eccd2-2b37-4656-bbac-27a672faf761.png" alt=""></a></li>-->
            <!--<li class="cont"><a href=""><img src="/images/d28927b2-3e89-4fd6-89b1-808e296795ad.png" alt=""></a></li>-->
            <!--<li class="cont"><a href=""><img src="/images/25bef336-ad8f-4c12-827c-1427b56edce3.png" alt=""></a></li>-->
            <!--<li class="clearItem"></li>-->
        <!--</ul>-->
    </div>
</div>
<div style="clear: both"></div>
<%include comp/footqr.ejs%>
<script src="/javascripts/product.min.js"></script>
</body>
</html>