<!doctype html>
<html lang="en">
<head>
    <%include comp/head_com.ejs%>
    <link rel="stylesheet" href="/stylesheets/sites.css">
</head>
<body>
<%include comp/main.ejs%>
<div class="page">
    <div id="box_s">
        <ul>
            <li><a href=""><img src="/images/wxdn.png" alt=""></a></li>
            <li><a href=""><img src="/images/b8b8e39b-3672-4d97-af37-dbc0c9fbfbba.png" alt=""></a></li>
            <li><a href=""><img src="/images/9b0f1b4e-9a3a-4c4e-8ef1-0519e8915ead.png" alt=""></a></li>
            <li><a href=""><img src="/images/6597e6ba-dc36-4bcc-86df-86c7bcd155dc.png" alt=""></a></li>
            <li><a href=""><img src="/images/a6f02336-286b-413d-ad60-b76e36169fd9.png" alt=""></a></li>
        </ul>
    </div>
</div>
<div style="clear: both"></div>
<%include comp/footqr.ejs%>
<script src="/javascripts/shop.min.js"></script>
</body>
</html>