<div id="foot-qr">
    <div>
        <img src="/images/f0c500dd-37f4-4f15-a0d6-eec527fc894a.png" alt="">
        <img src="/images/3bc85c4e-a841-4ac1-9afd-a838edf36706.png" alt="">
    </div>
    <p>
        <a href="/about">关于燕塘</a>
        &nbsp; | &nbsp;
        <a href="/products">燕塘产品</a>
        &nbsp; | &nbsp;
        <a href="/shop">在线商城</a>
        &nbsp; | &nbsp;
        <a href="/news">新闻与活动</a>
        &nbsp; | &nbsp;
        <a href="/developing">可持续发展</a>
        &nbsp; | &nbsp;
        <a href="/contact">联系我们</a>
        <br>
        CopyRight 2016-2020 All Rights Reserved　广东燕塘乳业股份有限公司　食品生产许可证号：SC10544010600187 粤ICP备05037964号 技术支持中企动力
    </p>
</div>